
  <% @spots.each do |spot| %>
    <div class="spot">
      <%= image_tag(spot.photo) %>
      <ul>
        <li><b><%= link_to spot.name, spot_path(spot) %></b></li>
        <li class="address"><%= spot.address %></li>
        <li class="phone"><%= spot.phone %></li>
        <li><%= link_to "web site", "#{spot.website}" %></li>
        <li>
          <%= spot.favorites_count %>
          <% if @user %>
            <% if @user.favorite == nil %>
              <%= link_to 'My Favorite!', "/spots/#{spot.id}/favorites", :method => :post %>
            <% elsif @user && spot.favorites.include?(@user.favorite) %>
              <p>This is your favorite!</p>
            <% else %>
              <p>Thinking of changing your mind?</p>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>

