  <% @spots.each do |spot| %>
    <div class="spot" >
      <%= image_tag(spot.photo) %>
      <ul>
        <li><b><%= link_to spot.name, spot_path(spot) %></b></li>
        <li class="address"><%= spot.address %></li>
        <li>
          <%= favorites(spot.favorites_count) %><br>
          <% if @user %>
            <% if @user.favorite == nil %>
              <%= button_to 'Make this my spot', "/spots/#{spot.id}/favorites", class: "fave-button" %>
            <% elsif spot.is_favorited_by(@user) %>
              <%= button_to 'Nix this spot', "/spots/#{spot.id}/favorites/#{@user.favorite.id}", :method => :delete %>
            <% else %>
              <%= button_to 'Make this my new spot', "/spots/#{spot.id}/favorites", class: "fave-button"%>

            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>



