<%= link_to 'Back', spots_path %><br>
<h1><%= @spot.name %></h1>
<%= link_to 'Edit', edit_spot_path(@spot) %><br>
<%= button_to "Delete", @spot, method: :delete, action: 'destroy' %>
<%= button_to "Edit", edit_spot_path(@spot), method: :get %>


<%= @spot.address %><br>
<%= @spot.phone %><br>
<% if @spot.website %>
<%= @spot.website %><br>
<% end %>
<%#= show_price(@spot.price) %><br>
<%= show_photo(@spot.photo) if @spot.photo %>

<%= button_to "Leave Comment", new_spot_comment_path(@spot), method: :get %>

<%= form_for [@spot, Comment.new]  do |f| %>
  <%= f.text_area :body, :placeholder => "How is this spot?" %><br>
  <%= f.submit %>
<% end %>

<% @spot.comments.each do |comment| %>
	<%= render partial:'inlinecomment', locals: {spot: @spot, comment: comment} %>
<% end %>