
<div id="spot">

	<div id ="spot-info">
		<h1><%= @spot.name %></h1>
		<h3><%= favorites(@spot.favorites_count) %></h3>
		<% if @can_edit %>
			You created this spot on <%= @spot.created_at.strftime("%b/%d/%y") %><br>
			<%= link_to "Delete", @spot, method: :delete, action: 'destroy'%> |
			<%= link_to "Edit", edit_spot_path(@spot), method: :get %><br>
		<% end %>

		<div class='spot-photo'><%= image_tag(@spot.photo, :class =>'spot-photo')%></div><br>
		<i class="fa fa-building"></i> <%= @spot.address %><br>
		<i class="fa fa-phone"></i> <%= number_to_phone(@spot.phone) %><br>
		<% if @spot.website %>
		<i class="fa fa-desktop"></i> <%= link_to "Visit webpage", @spot.website %><br>
		<% end %>
		<!-- start demo -->
		<p>lat: <%= @spot.latitude %></p>
		<p>lon: <%= @spot.longitude %></p>
		<% @spot.nearbys(1).each do |spot| %>
			<p><%= link_to spot.name, spot_path(spot) %></p>
		<% end %>
		<!-- end demo -->
		<%#= show_price(@spot.price) %><br>
	</div>
	<% if @user %>
		<%= form_for [@spot, Comment.new]  do |f| %>
		  <%= f.text_area :body, :placeholder => "How is this spot?" %><br>
		  <%= f.submit "Submit", id:'submit-comment'%>
		<% end %>
	<% end %>
	<% if @spot.comments.count > 1 %>
		<h3>The word around town: </h3>
	<% else %>
		<h3>Be the first to comment</h3>
	<% end %>
	<% @spot.comments.each do |comment| %>
		<%= render partial:'inlinecomment', locals: {spot: @spot, comment: comment, user: @user} %>
	<% end %>
</div>
