
<div id="spot">
	
	<div id ="spot-info">
		<h1><%= @spot.name %></h1>
		<h3><%= @spot.favorites_count %> favorites </h3>
		<% if @can_edit %>
			<%= button_to "Delete", @spot, method: :delete, action: 'destroy' %>
			<%= button_to "Edit", edit_spot_path(@spot), method: :get %>
		<% end %>

		<%= image_tag(@spot.photo, :class =>'spot-photo')%><br>
		<i class="fa fa-building"></i> <%= @spot.address %><br>
		<i class="fa fa-phone"></i> <%= number_to_phone(@spot.phone) %><br>
		<% if @spot.website %>
		<i class="fa fa-desktop"></i> <%= link_to "Visit webpage", @spot.website %><br>
		<% end %>
		<%#= show_price(@spot.price) %><br>
	</div>
	<% if @user %>
		<%= form_for [@spot, Comment.new]  do |f| %>
		  <%= f.text_area :body, :placeholder => "How is this spot?" %><br>
		  <%= f.submit "Submit", id:'submit-comment'%>
		<% end %>
	<% end %>

	<% @spot.comments.each do |comment| %>
		<%= render partial:'inlinecomment', locals: {spot: @spot, comment: comment, user: @user} %>
	<% end %>
</div>