<!DOCTYPE html>
<html>
<head>
  <title>TheSpot</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <% if !session[:user_id] %>
  <%= link_to "Log In", '/login' %>
  <%= link_to "Sign up", '/users/new' %>
  <% else %>
  <%= link_to "Log Out", '/logout', method: :delete %>
  <%= link_to "Add a Spot", new_spot_path %>
  <% end %>
</nav>
<%= yield %>

</body>
</html>
