<!DOCTYPE html>
<html>
<head>
  <title>TheSpot</title>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:700italic' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <%= link_to "TheSpot", spots_path, class: 'logo'%>
    <ul class="nav">
      <li class="search">
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Search") %>
        <% end %>
      </li>

      <% if session[:user_id] %>
        <li><%= link_to "Create Spot", new_spot_path %></li>
        <li><%= link_to "Log Out", '/logout', method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", '/login' %></li>
      <% end %>
    </ul>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
